body {
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    font-family:serif;
    align-items: center;
    height: 30vh;
}

input[value='Login']{
    background-color:rgb(204, 121, 25);
    color:black;
    border: none;
    cursor: pointer;
}

form label,
form input {
    width: 100%;
    box-sizing: border-box;
}
#login-container {
    width:325px;
    margin: 0 auto;
}

form label {
    font-weight:bolder;
}

form input {
    padding: 6px;

}
form div {
    margin: 20px 0px;
}
